@import '../../../../styles/common';

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__item {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  @include theme(color, navbarItemColor);

  &:hover {
    text-decoration: underline;
  }
}
